/*
Font: 		Killarney
Style: 		
URL: 		https://youworkforthem.com/font/T12115/killarney
Foundry: 	Fontdation
Foundry: 	https://youworkforthem.com/designer/1005/fontdation
Copyright:	Copyright © 2020 by Twicolabs Fontdation. All rights reserved.
Version: 	18
Created:	April 10, 2026
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Killarney';
	src: url('killarney-regular.woff2') format('woff2'),
	     url('killarney-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
